<form nz-form [formGroup]="rfDataModal" nzLayout="vertical">
    <nz-form-item >
        <nz-form-label>Input String</nz-form-label>
        <nz-form-control nzErrorTip="Giá trị bắt buộc!">
            <input nz-input formControlName="inputString"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item >
        <nz-form-label>Output String</nz-form-label>
        <nz-form-control nzErrorTip="Giá trị bắt buộc!">
            <input nz-input formControlName="outputString"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item >
        <nz-form-label>Func Name</nz-form-label>
        <nz-form-control nzErrorTip="Giá trị bắt buộc!">
            <input nz-input formControlName="funcName"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item >
        <nz-form-label>Link</nz-form-label>
        <nz-form-control nzErrorTip="Giá trị bắt buộc!">
            <textarea nz-input formControlName="link" nzAutosize></textarea>
            <!-- <input nz-input formControlName="link"/> -->
        </nz-form-control>
    </nz-form-item>
    <nz-form-item >
        <nz-form-label>Note</nz-form-label>
        <nz-form-control nzErrorTip="Giá trị bắt buộc!">
            <app-input-ckeditor [itemSimple]="true" formControlName="note"></app-input-ckeditor>
            <!-- <input nz-input formControlName="note"/> -->
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <div *nzModalFooter>
                <button type="button" nz-button nzType="default" (click)="close()">Đóng</button>
                <button nz-button  *abpPermission="'AbpAiProject.DataTraining.Update'"
                nzType="primary" (click)="save()">Lưu</button>
            </div>
        </nz-form-control>
    </nz-form-item>
</form>

